{% block element_faq %}

{# Settings Allgemein #}
{% set id = element.id %}
{% set c108faqhighlightcolor = element.config.c108faqhighlightcolor.value %}
{% set c108faqbannertype = element.config.c108faqbannertype.value %}
{% set c108faqbannerimg = element.config.c108faqbannerimg.value %}
{% set c108faqbannertitle = element.config.c108faqbannertitle.value %}
{% set currBannerTitle = element.config.c108faqbannertitle.value %}

{# Settings Bereich 1 #}
{% set c108faqsection1title = element.config.c108faqsection1title.value %}
{% set c108faqsection1text = element.config.c108faqsection1text.value %}
{% set c108faqsection1icon = element.config.c108faqsection1icon.value %}
{% set c108faqsection1icontype = element.config.c108faqsection1icontype.value %}
{% set c108faqsection1iconpath = element.config.c108faqsection1iconpath.value %}
{% set c108faqsection1questionsArray = element.config.c108faqsection1questionsArray.value %}

{# Settings Bereich 2 #}
{% set c108faqsection2title = element.config.c108faqsection2title.value %}
{% set c108faqsection2text = element.config.c108faqsection2text.value %}
{% set c108faqsection2icon = element.config.c108faqsection2icon.value %}
{% set c108faqsection2icontype = element.config.c108faqsection2icontype.value %}
{% set c108faqsection2iconpath = element.config.c108faqsection2iconpath.value %}
{% set c108faqsection2questionsArray = element.config.c108faqsection2questionsArray.value %}

{# Settings Bereich 3 #}
{% set c108faqsection3title = element.config.c108faqsection3title.value %}
{% set c108faqsection3text = element.config.c108faqsection3text.value %}
{% set c108faqsection3icon = element.config.c108faqsection3icon.value %}
{% set c108faqsection3icontype = element.config.c108faqsection3icontype.value %}
{% set c108faqsection3iconpath = element.config.c108faqsection3iconpath.value %}
{% set c108faqsection3questionsArray = element.config.c108faqsection3questionsArray.value %}

    {# Settings Bereich 4 #}
    {% set c108faqsection4title = element.config.c108faqsection4title.value %}
    {% set c108faqsection4text = element.config.c108faqsection4text.value %}
    {% set c108faqsection4icon = element.config.c108faqsection4icon.value %}
    {% set c108faqsection4icontype = element.config.c108faqsection4icontype.value %}
    {% set c108faqsection4iconpath = element.config.c108faqsection4iconpath.value %}
    {% set c108faqsection4questionsArray = element.config.c108faqsection4questionsArray.value %}

    {# Settings Bereich 5 #}
    {% set c108faqsection5title = element.config.c108faqsection5title.value %}
    {% set c108faqsection5text = element.config.c108faqsection5text.value %}
    {% set c108faqsection5icon = element.config.c108faqsection5icon.value %}
    {% set c108faqsection5icontype = element.config.c108faqsection5icontype.value %}
    {% set c108faqsection5iconpath = element.config.c108faqsection5iconpath.value %}
    {% set c108faqsection5questionsArray = element.config.c108faqsection5questionsArray.value %}

    {# Settings Bereich 6 #}
    {% set c108faqsection6title = element.config.c108faqsection6title.value %}
    {% set c108faqsection6text = element.config.c108faqsection6text.value %}
    {% set c108faqsection6icon = element.config.c108faqsection6icon.value %}
    {% set c108faqsection6icontype = element.config.c108faqsection6icontype.value %}
    {% set c108faqsection6iconpath = element.config.c108faqsection6iconpath.value %}
    {% set c108faqsection6questionsArray = element.config.c108faqsection6questionsArray.value %}

    {# Settings Bereich 7 #}
    {% set c108faqsection7title = element.config.c108faqsection7title.value %}
    {% set c108faqsection7text = element.config.c108faqsection7text.value %}
    {% set c108faqsection7icon = element.config.c108faqsection7icon.value %}
    {% set c108faqsection7icontype = element.config.c108faqsection7icontype.value %}
    {% set c108faqsection7iconpath = element.config.c108faqsection7iconpath.value %}
    {% set c108faqsection7questionsArray = element.config.c108faqsection7questionsArray.value %}

    {# Settings Bereich 8 #}
    {% set c108faqsection8title = element.config.c108faqsection8title.value %}
    {% set c108faqsection8text = element.config.c108faqsection8text.value %}
    {% set c108faqsection8icon = element.config.c108faqsection8icon.value %}
    {% set c108faqsection8icontype = element.config.c108faqsection8icontype.value %}
    {% set c108faqsection8iconpath = element.config.c108faqsection8iconpath.value %}
    {% set c108faqsection8questionsArray = element.config.c108faqsection8questionsArray.value %}


{# FAQ Element#}
<div class="cms-element-faq" style="height: 100%; width: 100%">

{% block element_faq_inner %}

{# Background image #}
{# Shipped image #}
{% if c108faqbannertype == 'shippedimage' %}
{% set currImgPath = asset('bundles/c108faq/static/img/cms/'~ c108faqbannerimg ~'.jpg') %}
{% endif %}

{# Own image #}
{% if c108faqbannertype == 'ownimage' %}
{% set currMediaId = element.config.media.value %}
{% if currMediaId %}
{% set currMediaCollection = searchMedia([currMediaId], context.context) %}
{% set currMediaObject = currMediaCollection.get(currMediaId) %}
{% set currImgPath = currMediaObject.url %}
{% else %}
  {% set currImgPath = '' %}
{% endif %}
{% endif %}

<div class="c108-faq-banner" style="background-image:url('{{ currImgPath }}');">
<div class="c108-faq-inside">
    {{ currBannerTitle }}
</div>
    {# Suche #}
    <div class="c108-faq-suchfeld-holder">
        <label class="c108-faq-search-title">
            <span class="icon-search">
             <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="18" height="18" x="0" y="0" viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 19 19" xml:space="preserve" class=""><g>
            <g xmlns="http://www.w3.org/2000/svg">
                <g>
                    <path d="M508.874,478.708L360.142,329.976c28.21-34.827,45.191-79.103,45.191-127.309c0-111.75-90.917-202.667-202.667-202.667    S0,90.917,0,202.667s90.917,202.667,202.667,202.667c48.206,0,92.482-16.982,127.309-45.191l148.732,148.732    c4.167,4.165,10.919,4.165,15.086,0l15.081-15.082C513.04,489.627,513.04,482.873,508.874,478.708z M202.667,362.667    c-88.229,0-160-71.771-160-160s71.771-160,160-160s160,71.771,160,160S290.896,362.667,202.667,362.667z" fill="#333333" data-original="#000000" style="" class=""/>
                </g>
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            </g></svg>
            </span>
            <input id="{{ id }}-searchField" type="text" name="faqsuchfeld" class="c108-faq-suchfeld" placeholder="{{ 'faq.element.labelsearch'|trans }}">
        </label>
    </div>
    {# Suche: Ende #}
</div>
{# Background image Ende #}

{# Boxes #}
    <div id="{{ id }}-questionwrapper" class="c108-faq-question-section c108-faq-question-wrapper">

<div class="cms-element-faq-boxes">

{# Bereich 1 #}
<div class="c108faqwrappertype-{{ c108faqsection1icontype }} c108faqwrapper-einfach c108-faq-section-box">
<div class="c108faq-content">

{# Case 1: Shopware Icon #}
{% if c108faqsection1icontype == 'shippedicon' %}
<div class="c108-icon-wrapper">
<span class="icon icon-{{ c108faqsection1icon }}" style="color:{{ c108faqhighlightcolor }};">
{{ source('@Storefront/../app/storefront/dist/assets/icon/default/'~ c108faqsection1icon ~'.svg', ignore_missing = true) }}
</span>
</div>
{# Case 1: Shopware Icon - Ende #}
{# Case 2: Own Icon #}
{% elseif c108faqsection1icontype == 'ownicon' %}
<div class="c108-icon-wrapper c108faqowniconwrapper">
<img src="{{ c108faqsection1iconpath }}" alt="{{ c108faqsection1title }} Icon">
</div>
{% endif %}
{# Case 2: Own Icon- Ende #}

<div class="c108-faq-text-wrapper">
<div class="c108-faq-section-title-boxes">{{ c108faqsection1title }}</div>
<div class="c108-faq-section-text-boxes">
    <a class="d-sm-block d-none" href="#account">{{ c108faqsection1text|nl2br }}</a>
    <span class="boxes-link d-block d-sm-none" data-toggle="collapse" data-target="#accordion-account" aria-expanded="false" aria-controls="accordion-account">{{ c108faqsection1text|nl2br }}</span>
</div>
</div>
</div>
</div>
{# Bereich 1: Ende #}
   <div id="accordion-account" class="collapse c108-faq-question-section">
            {# Fragen Bereich 1 #}
            <div class="c108-faq-section-outer">
                <div class="c108-faq-section-title">
                    {{ c108faqsection1title }}
                </div>
                {% for currentQuestion in c108faqsection1questionsArray %}
                    {% if currentQuestion.question is not empty and currentQuestion.answer is not empty %}
                        <div class="card">
                            <div id="headingTwo-{{ loop.index }}">
                                <button class="btn btn-link collapsed questiontab" data-toggle="collapse" data-target="#collapseTwo-{{ loop.index }}" aria-expanded="false" aria-controls="collapseTwo-{{ loop.index }}">
                                    <span>{{ currentQuestion.question }}</span>
                                </button>
                            </div>
                            <div id="collapseTwo-{{ loop.index }}" class="collapse" aria-labelledby="headingTwo-{{ loop.index }}" data-parent="#accordion-account">
                                <div class="card-body">
                                    <p>{{ currentQuestion.answer|nl2br}}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {# Fragen Bereich 1: Ende #}
        </div>
{# Bereich 2 #}
<div class="c108faqwrappertype-{{ c108faqsection2icontype }} c108faqwrapper-einfach c108-faq-section-box">
<div class="c108faq-content">

{# Case 1: Shopware Icon #}
{% if c108faqsection2icontype == 'shippedicon' %}
<div class="c108-icon-wrapper">
    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45.84 37.216"><defs><style>.a{fill:none;stroke:#333;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.2px;}</style></defs><g transform="translate(0.632 0.6)"><g transform="translate(13.481)"><path class="a" d="M62.4,34.754A144.572,144.572,0,0,1,47.961,42.4c-.312.013-10.505-5.491-15.606-8.268,1.664-.814,12.782-6.166,15.581-6.3C50.6,27.708,61.629,34.29,62.4,34.754c.646.389.656,14.032.706,19.62-5.131,2.494-14.265,9.464-14.678,9.477-.44.013-16.1-9.664-16.305-10-.276-.446-.132-14.07.236-19.718" transform="translate(-31.975 -27.834)"/><path class="a" d="M51.289,46.737A143.1,143.1,0,0,0,51.145,63" transform="translate(-35.07 -31.908)"/><path class="a" d="M59.737,39.062c-3.052,1.312-4.63,2.2-7.276,3.423-.279,1.883-.644,2.643-.924,4.526-1.232-.618-2.6-1.772-3.9-2.28.285-1.369.323-3.467,1.036-4.2.468-.485,5.75-2.722,7.532-3.566q1.689,1.067,3.428,2.084" transform="translate(-40.894 -29.801)"/></g><path class="a" d="M80.3,36.79l-3.715-.169" transform="translate(-70.694 -29.728)"/><path class="a" d="M82.554,43.681H76.915" transform="translate(-73.2 -31.249)"/><path class="a" d="M86.445,50.545q-4.357-.1-8.713.139" transform="translate(-77.732 -32.722)"/></g></svg>
{#<span class="icon icon-{{ c108faqsection2icon }}" style="color:{{ c108faqhighlightcolor }};">#}
{#{{ source('@Storefront/../app/storefront/dist/assets/icon/default/'~ c108faqsection2icon ~'.svg', ignore_missing = true) }}#}
{#</span>#}
</div>
{# Case 1: Shopware Icon - Ende #}

{# Case 2: Own Icon #}
{% elseif c108faqsection2icontype == 'ownicon' %}
<div class="c108-icon-wrapper c108faqowniconwrapper">
<img src="{{ c108faqsection2iconpath }}" alt="{{ c108faqsection2title }} Icon">
</div>
{% endif %}
{# Case 2: Own Icon- Ende #}

<div class="c108-faq-text-wrapper">
<div class="c108-faq-section-title-boxes">{{ c108faqsection2title }}</div>
<div class="c108-faq-section-text-boxes">
    <a class="d-sm-block d-none" href="#order">{{ c108faqsection2text|nl2br }}</a>
    <span class="boxes-link d-block d-sm-none" data-toggle="collapse" data-target="#order-accordion" aria-expanded="false" aria-controls="order-accordion">{{ c108faqsection2text|nl2br }}</span>
</div>
</div>
</div>
</div>
{# Bereich 2: Ende #}
    {# Fragen Bereich 2 #}
    <div id="order-accordion" class="collapse c108-faq-question-section">
        <div class="c108-faq-section-outer">
            <div class="c108-faq-section-title">
                {{ c108faqsection2title }}
            </div>
            {% for currentQuestion in c108faqsection2questionsArray %}
                {% if currentQuestion.question is not empty and currentQuestion.answer is not empty %}
                    <div class="card">
                        <div id="headingThree-{{ loop.index }}">
                            <button class="btn btn-link collapsed questiontab" data-toggle="collapse" data-target="#collapseThree-{{ loop.index }}" aria-expanded="false" aria-controls="collapseThree-{{ loop.index }}">
                                <span>{{ currentQuestion.question }}</span>
                            </button>
                        </div>
                        <div id="collapseThree-{{ loop.index }}" class="collapse" aria-labelledby="headingThree-{{ loop.index }}" data-parent="#order-accordion">
                            <div class="card-body">
                                <p>{{ currentQuestion.answer|nl2br}}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {# Fragen Bereich 2: Ende #}

{# Bereich 1 #}
<div class="c108faqwrappertype-{{ c108faqsection3icontype }} c108faqwrapper-einfach c108-faq-section-box">
<div class="c108faq-content">

{# Case 1: Shopware Icon #}
{% if c108faqsection3icontype == 'shippedicon' %}
<div class="c108-icon-wrapper">
<span class="icon icon-{{ c108faqsection3icon }}" style="color:{{ c108faqhighlightcolor }};">
{{ source('@Storefront/../app/storefront/dist/assets/icon/default/'~ c108faqsection3icon ~'.svg', ignore_missing = true) }}
</span>
</div>
{# Case 1: Shopware Icon - Ende #}

{# Case 2: Own Icon #}
{% elseif c108faqsection3icontype == 'ownicon' %}
<div class="c108-icon-wrapper c108faqowniconwrapper">
<img src="{{ c108faqsection3iconpath }}" alt="{{ c108faqsection3title }} Icon">
</div>
{% endif %}
{# Case 2: Own Icon- Ende #}

<div class="c108-faq-text-wrapper">
<div class="c108-faq-section-title-boxes">{{ c108faqsection3title }}</div>
<div class="c108-faq-section-text-boxes">
    <a class="d-sm-block d-none" href="#return">{{ c108faqsection3text|nl2br }}</a>
    <span class="boxes-link d-block d-sm-none" data-toggle="collapse" data-target="#return-accordion" aria-expanded="false" aria-controls="return-accordion">{{ c108faqsection3text|nl2br }}</span>
</div>
</div>
</div>
</div>

    {# Fragen Bereich 3 #}
    <div id="return-accordion" class="c108-faq-question-section collapse">
        <div class="c108-faq-section-outer">
            <div class="c108-faq-section-title">
                {{ c108faqsection3title }}
            </div>
            {% for currentQuestion in c108faqsection3questionsArray %}
                {% if currentQuestion.question is not empty and currentQuestion.answer is not empty %}
                    <div class="card">
                        <div id="headingFour-{{ loop.index }}">
                            <button class="btn btn-link collapsed questiontab" data-toggle="collapse" data-target="#collapseFour-{{ loop.index }}" aria-expanded="false" aria-controls="collapseFour-{{ loop.index }}">
                                <span>{{ currentQuestion.question }}</span>
                            </button>
                        </div>
                        <div id="collapseFour-{{ loop.index }}" class="collapse" aria-labelledby="headingFour-{{ loop.index }}" data-parent="#return-accordion">
                            <div class="card-body">
                                <p>{{ currentQuestion.answer|nl2br}}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {# Fragen Bereich 3: Ende #}
{# Bereich 3: Ende #}

    {# Bereich 4 #}
    <div class="c108faqwrappertype-{{ c108faqsection4icontype }} c108faqwrapper-einfach c108-faq-section-box">
        <div class="c108faq-content">

            {# Case 1: Shopware Icon #}
            {% if c108faqsection2icontype == 'shippedicon' %}
                <div class="c108-icon-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" width="43" height="29" viewBox="0 0 35.5 24.733"><defs><style>.a{fill:none;stroke:#333;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.2px;}</style></defs><g transform="translate(0.6 0.628)"><path class="a" d="M65.384,32.36,39.818,32.4c-1.435,0-3.092.147-3.942,1.709a7.833,7.833,0,0,0-.635,3.365c-.188,4.959-.148,9.934.118,14.886a4.364,4.364,0,0,0,.418,1.971,2.235,2.235,0,0,0,1.94.9c9.459.738,27.8.812,30.541-.21,1.961-.733.953-6.3.993-9.986.028-2.585-.092-6.478-.453-10.29-.154-1.626-1.021-2.352-3.365-2.463" transform="translate(-35.124 -32.281)"/><path class="a" d="M35.319,40.369l25.8-.428c2.342-.039,5.2.076,7.785.238" transform="translate(-35.166 -33.93)"/><path class="a" d="M35.394,37.848c8.6-.143,16.855-.31,25.453-.453,2.342-.039,5.2.076,7.785.238" transform="translate(-35.183 -33.381)"/><path class="a" d="M41.013,54.922a12.028,12.028,0,0,1,.044-2,1.077,1.077,0,0,1,.212-.628,1.137,1.137,0,0,1,.88-.241l2.518.033.136,2.176a.605.605,0,0,1-.713.8c-.886,0-2.191-.146-3.077-.149" transform="translate(-36.389 -36.543)"/><path class="a" d="M70.427,50.326a2.148,2.148,0,0,1-.216,2.572" transform="translate(-42.686 -36.17)"/><path class="a" d="M71.492,47.821c1.84,2.91,1.426,4.772-.308,6.458" transform="translate(-42.896 -35.63)"/></g></svg>
{#<span class="icon icon-{{ c108faqsection4icon }}" style="color:{{ c108faqhighlightcolor }};">#}
{#{{ source('@Storefront/../app/storefront/dist/assets/icon/default/'~ c108faqsection4icon ~'.svg', ignore_missing = true) }}#}
{#</span>#}
                </div>
                {# Case 1: Shopware Icon - Ende #}

                {# Case 2: Own Icon #}
            {% elseif c108faqsection2icontype == 'ownicon' %}
                <div class="c108-icon-wrapper c108faqowniconwrapper">
                    <img src="{{ c108faqsection4iconpath }}" alt="{{ c108faqsection4title }} Icon">
                </div>
            {% endif %}
            {# Case 2: Own Icon- Ende #}

            <div class="c108-faq-text-wrapper">
                <div class="c108-faq-section-title-boxes">{{ c108faqsection4title }}</div>
                <div class="c108-faq-section-text-boxes">
                    <a class="d-sm-block d-none" href="#pay">{{ c108faqsection4text|nl2br }}</a>
                    <span class="boxes-link d-block d-sm-none" data-toggle="collapse" data-target="#pay-accordion" aria-expanded="false" aria-controls="pay-accordion">{{ c108faqsection4text|nl2br }}</span>
                </div>
            </div>
        </div>
    </div>

    {# Fragen Bereich 4 #}
    <div id="pay-accordion" class="c108-faq-question-section collapse">
        <div class="c108-faq-section-outer">
            <div class="c108-faq-section-title">
                {{ c108faqsection4title }}
            </div>
            {% for currentQuestion in c108faqsection4questionsArray %}
                {% if currentQuestion.question is not empty and currentQuestion.answer is not empty %}
                    <div class="card">
                        <div id="headingFive-{{ loop.index }}">
                            <button class="btn btn-link collapsed questiontab" data-toggle="collapse" data-target="#collapseFive-{{ loop.index }}" aria-expanded="false" aria-controls="collapseFive-{{ loop.index }}">
                                <span>{{ currentQuestion.question }}</span>
                            </button>
                        </div>
                        <div id="collapseFive-{{ loop.index }}" class="collapse" aria-labelledby="headingFive-{{ loop.index }}" data-parent="#pay-accordion">
                            <div class="card-body">
                                <p>{{ currentQuestion.answer|nl2br}}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {# Fragen Bereich 4: Ende #}

    {# Bereich 4: Ende #}

    {# Bereich 5 #}
    <div class="c108faqwrappertype-{{ c108faqsection5icontype }} c108faqwrapper-einfach c108-faq-section-box">
        <div class="c108faq-content">

            {# Case 1: Shopware Icon #}
            {% if c108faqsection2icontype == 'shippedicon' %}
                <div class="c108-icon-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" width="44.351" height="41.703" viewBox="0 0 44.351 41.703"><defs><style>.a{fill:none;stroke:#333;stroke-linejoin:round;stroke-width:1.2px;}</style></defs><g transform="translate(0.583 0.6)"><path class="a" d="M72.033,35.845C74,33.752,76.09,31.91,76.1,31.7c.17-4.481-.076-6.147.163-10.721.011-.213,1.886-.235,1.93.086a98.131,98.131,0,0,1,.54,10.929l3.123,11.243c.086,1.585-.894,6.987-1.239,9.922-2.176-.118-3.943-.187-6.122-.221" transform="translate(-38.69 -20.818)"/><path class="a" d="M47.648,39.658l1.887-7.871c.447-.645.278-9,.168-10.043a6.95,6.95,0,0,1,2.206.055c.066,2.192-.126,8.8-.044,9.868.045.583,3.245,4.608,5.857,7.739" transform="translate(-33.435 -21.002)"/><path class="a" d="M63.845,40.574c2-2.3,3.783-3.77,3.791-3.965.17-4.481-.076-6.146.162-10.721.011-.213,1.886-.235,1.931.087a98.314,98.314,0,0,1,.54,10.928l3.122,11.244c.086,1.585-.893,6.987-1.239,9.921-2.061-.111-3.812-.18-5.876-.216" transform="translate(-36.925 -21.877)"/><path class="a" d="M39.252,44.689,40.961,37.8c.447-.645.278-9,.169-10.044a6.95,6.95,0,0,1,2.206.055c.065,2.192-.126,8.8-.044,9.868.054.7,4.768,6.238,7.315,9.314" transform="translate(-31.625 -22.297)"/><path class="a" d="M29.53,54.209l2.914-12.154c.447-.645.278-9,.168-10.043a6.95,6.95,0,0,1,2.206.055c.066,2.192-.126,8.8-.044,9.868.073.955,9.14,11.3,9.023,11.479,1.916-2.929,10-11.7,10.02-12.126.17-4.481-.076-6.147.162-10.721.011-.213,1.886-.235,1.931.087a98.305,98.305,0,0,1,.54,10.928l3.122,11.244c.086,1.584-.893,6.986-1.239,9.921a168.441,168.441,0,0,0-26.4.64L29.53,54.209" transform="translate(-29.53 -22.885)"/></g></svg>
{#<span class="icon icon-{{ c108faqsection5icon }}" style="color:{{ c108faqhighlightcolor }};">#}
{#{{ source('@Storefront/../app/storefront/dist/assets/icon/default/'~ c108faqsection5icon ~'.svg', ignore_missing = true) }}#}
{#</span>#}
                </div>
                {# Case 1: Shopware Icon - Ende #}

                {# Case 2: Own Icon #}
            {% elseif c108faqsection2icontype == 'ownicon' %}
                <div class="c108-icon-wrapper c108faqowniconwrapper">
                    <img src="{{ c108faqsection5iconpath }}" alt="{{ c108faqsection5title }} Icon">
                </div>
            {% endif %}
            {# Case 2: Own Icon- Ende #}

            <div class="c108-faq-text-wrapper">
                <div class="c108-faq-section-title-boxes">{{ c108faqsection5title }}</div>
                <div class="c108-faq-section-text-boxes">
                    <a class="d-sm-block d-none" href="#availability">{{ c108faqsection5text|nl2br }}</a>
                    <span class="boxes-link d-block d-sm-none" data-toggle="collapse" data-target="#availability-accordion" aria-expanded="false" aria-controls="availability-accordion">{{ c108faqsection5text|nl2br }}</span>
                </div>
            </div>
        </div>
    </div>

    {# Fragen Bereich 5 #}
    <div id="availability-accordion" class="c108-faq-question-section collapse">
        <div class="c108-faq-section-outer">
            <div class="c108-faq-section-title">
                {{ c108faqsection5title }}
            </div>
            {% for currentQuestion in c108faqsection5questionsArray %}
                {% if currentQuestion.question is not empty and currentQuestion.answer is not empty %}
                    <div class="card">
                        <div id="headingSix-{{ loop.index }}">
                            <button class="btn btn-link collapsed questiontab" data-toggle="collapse" data-target="#collapseSix-{{ loop.index }}" aria-expanded="false" aria-controls="collapseSix-{{ loop.index }}">
                                <span>{{ currentQuestion.question }}</span>
                            </button>
                        </div>
                        <div id="collapseSix-{{ loop.index }}" class="collapse" aria-labelledby="headingSix-{{ loop.index }}" data-parent="#availability-accordion">
                            <div class="card-body">
                                <p>{{ currentQuestion.answer|nl2br}}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {# Fragen Bereich 5: Ende #}
    {# Bereich 5: Ende #}

    {# Bereich 6 #}
    <div class="c108faqwrappertype-{{ c108faqsection6icontype }} c108faqwrapper-einfach c108-faq-section-box">
        <div class="c108faq-content">

            {# Case 1: Shopware Icon #}
            {% if c108faqsection2icontype == 'shippedicon' %}
                <div class="c108-icon-wrapper">
<span class="icon icon-{{ c108faqsection6icon }}" style="color:{{ c108faqhighlightcolor }};">
{{ source('@Storefront/../app/storefront/dist/assets/icon/default/'~ c108faqsection6icon ~'.svg', ignore_missing = true) }}
</span>
                </div>
                {# Case 1: Shopware Icon - Ende #}

                {# Case 2: Own Icon #}
            {% elseif c108faqsection2icontype == 'ownicon' %}
                <div class="c108-icon-wrapper c108faqowniconwrapper">
                    <img src="{{ c108faqsection6iconpath }}" alt="{{ c108faqsection6title }} Icon">
                </div>
            {% endif %}
            {# Case 2: Own Icon- Ende #}

            <div class="c108-faq-text-wrapper">
                <div class="c108-faq-section-title-boxes">{{ c108faqsection6title }}</div>
                <div class="c108-faq-section-text-boxes">
                    <a class="d-sm-block d-none" href="#responsibility">{{ c108faqsection6text|nl2br }}</a>
                    <span class="boxes-link d-block d-sm-none" data-toggle="collapse" data-target="#responsibility-accordion" aria-expanded="false" aria-controls="responsibility-accordion">{{ c108faqsection6text|nl2br }}</span>
                </div>
            </div>
        </div>
    </div>

    {# Fragen Bereich 6 #}
    <div id="responsibility-accordion" class="c108-faq-question-section collapse">
        <div class="c108-faq-section-outer">
            <div class="c108-faq-section-title">
                {{ c108faqsection6title }}
            </div>
            {% for currentQuestion in c108faqsection6questionsArray %}
                {% if currentQuestion.question is not empty and currentQuestion.answer is not empty %}
                    <div class="card">
                        <div id="headieven-{{ loop.index }}">
                            <button class="btn btn-link collapsed questiontab" data-toggle="collapse" data-target="#collapseSeven-{{ loop.index }}" aria-expanded="false" aria-controls="collapseSeven-{{ loop.index }}">
                                <span>{{ currentQuestion.question }}</span>
                            </button>
                        </div>
                        <div id="collapseSeven-{{ loop.index }}" class="collapse" aria-labelledby="headingSeven-{{ loop.index }}" data-parent="#responsibility-accordion">
                            <div class="card-body">
                                <p>{{ currentQuestion.answer|nl2br}}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {# Fragen Bereich 6: Ende #}
    {# Bereich 6: Ende #}

    {# Bereich 7 #}
    <div class="c108faqwrappertype-{{ c108faqsection7icontype }} c108faqwrapper-einfach c108-faq-section-box">
        <div class="c108faq-content">

            {# Case 1: Shopware Icon #}
            {% if c108faqsection2icontype == 'shippedicon' %}
                <div class="c108-icon-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" viewBox="0 0 23.888 23.44">
                        <defs>
                            <style>
                                .cls-1, .cls-2 {
                                    fill: none;
                                    stroke: #666;
                                    stroke-linecap: round;
                                    stroke-miterlimit: 10;
                                    stroke-width: 1.2px;
                                }

                                .cls-1 {
                                    stroke-linejoin: round;
                                }
                            </style>
                        </defs>
                        <g id="Schreib_uns_Icon" data-name="Schreib uns Icon" transform="translate(-31.071 -23.61)">
                            <path id="Pfad_744" data-name="Pfad 744" class="cls-1" d="M32.234,45.917l1.689-2.742c-1.744-2.277-2.2-5.4-2.248-8.367a12.553,12.553,0,0,1,.551-4.5A9.052,9.052,0,0,1,36.8,25.494a12.941,12.941,0,0,1,15.58,3.547,8.87,8.87,0,0,1,1.547,2.637c1,2.859-.064,6.127-1.728,8.593A9.479,9.479,0,0,1,50.338,42.4a9.4,9.4,0,0,1-4.5,1.747,21.784,21.784,0,0,1-7.822-.181,1.627,1.627,0,0,1-.772-.313,1.052,1.052,0,0,1-.18-1.274.868.868,0,0,1,1.149-.314A1.412,1.412,0,0,1,38.4,44a3.493,3.493,0,0,1-1.747,1.086L33.409,46.28" transform="translate(0 0)"/>
                            <g id="Gruppe_232" data-name="Gruppe 232" transform="translate(38.236 30.169)">
                                <path id="Pfad_745" data-name="Pfad 745" class="cls-2" d="M47.935,38.721q.165,4,.634,7.982" transform="translate(-47.935 -38.09)"/>
                                <path id="Pfad_746" data-name="Pfad 746" class="cls-2" d="M57.134,37.44q-.055,3.886-.294,7.766" transform="translate(-52.456 -37.44)"/>
                                <path id="Pfad_747" data-name="Pfad 747" class="cls-2" d="M49.488,50.022h3.465" transform="translate(-48.723 -43.828)"/>
                                <path id="Pfad_748" data-name="Pfad 748" class="cls-2" d="M61.829,43.837a42.576,42.576,0,0,0,.276,5.139" transform="translate(-54.988 -40.688)"/>
                                <path id="Pfad_749" data-name="Pfad 749" class="cls-1" d="M62,38.3a.105.105,0,1,1-.076.1" transform="translate(-55.034 -37.875)"/>
                            </g>
                        </g>
                    </svg>

                    {#<span class="icon icon-{{ c108faqsection7icon }}" style="color:{{ c108faqhighlightcolor }};">#}
{#{{ source('@Storefront/../app/storefront/dist/assets/icon/default/'~ c108faqsection7icon ~'.svg', ignore_missing = true) }}#}
{#</span>#}
                </div>
                {# Case 1: Shopware Icon - Ende #}

                {# Case 2: Own Icon #}
            {% elseif c108faqsection2icontype == 'ownicon' %}
                <div class="c108-icon-wrapper c108faqowniconwrapper">
                    <img src="{{ c108faqsection7iconpath }}" alt="{{ c108faqsection7title }} Icon">
                </div>
            {% endif %}
            {# Case 2: Own Icon- Ende #}

            <div class="c108-faq-text-wrapper">
                <div class="c108-faq-section-title-boxes">{{ c108faqsection7title }}</div>
                <div class="c108-faq-section-text-boxes">
                    <a class="d-sm-block d-none" href="#about">{{ c108faqsection7text|nl2br }}</a>
                    <span class="boxes-link d-block d-sm-none" data-toggle="collapse" data-target="#about-accordion" aria-expanded="false" aria-controls="about-accordion">{{ c108faqsection7text|nl2br }}</span>
                </div>
            </div>
        </div>
    </div>

    {# Fragen Bereich 7 #}
    <div id="about-accordion" class="c108-faq-question-section collapse">
        <div class="c108-faq-section-outer">
            <div class="c108-faq-section-title">
                {{ c108faqsection7title }}
            </div>
            {% for currentQuestion in c108faqsection7questionsArray %}
                {% if currentQuestion.question is not empty and currentQuestion.answer is not empty %}
                    <div class="card">
                        <div id="headieven-{{ loop.index }}">
                            <button class="btn btn-link collapsed questiontab" data-toggle="collapse" data-target="#collapseEight-{{ loop.index }}" aria-expanded="false" aria-controls="collapseEight-{{ loop.index }}">
                                <span>{{ currentQuestion.question }}</span>
                            </button>
                        </div>
                        <div id="collapseEight-{{ loop.index }}" class="collapse" aria-labelledby="headingEight-{{ loop.index }}" data-parent="#about-accordion">
                            <div class="card-body">
                                <p>{{ currentQuestion.answer|nl2br}}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {# Fragen Bereich 7: Ende #}
    {# Bereich 7: Ende #}

    {# Bereich 8 #}
    <div class="c108faqwrappertype-{{ c108faqsection8icontype }} c108faqwrapper-einfach c108-faq-section-box">
        <div class="c108faq-content">

            {# Case 1: Shopware Icon #}
            {% if c108faqsection2icontype == 'shippedicon' %}
                <div class="c108-icon-wrapper">
<span class="icon icon-{{ c108faqsection8icon }}" style="color:{{ c108faqhighlightcolor }};">
{{ source('@Storefront/../app/storefront/dist/assets/icon/default/'~ c108faqsection8icon ~'.svg', ignore_missing = true) }}
</span>
                </div>
                {# Case 1: Shopware Icon - Ende #}

                {# Case 2: Own Icon #}
            {% elseif c108faqsection2icontype == 'ownicon' %}
                <div class="c108-icon-wrapper c108faqowniconwrapper">
                    <img src="{{ c108faqsection8iconpath }}" alt="{{ c108faqsection8title }} Icon">
                </div>
            {% endif %}
            {# Case 2: Own Icon- Ende #}

            <div class="c108-faq-text-wrapper">
                <div class="c108-faq-section-title-boxes">{{ c108faqsection8title }}</div>
                <div class="c108-faq-section-text-boxes">
                    <a class="d-sm-block d-none" href="#job">{{ c108faqsection8text|nl2br }}</a>
                    <span class="boxes-link d-block d-sm-none" data-toggle="collapse" data-target="#job-accordion" aria-expanded="false" aria-controls="job-accordion">{{ c108faqsection8text|nl2br }}</span>
                </div>
            </div>
        </div>
    </div>
    {# Fragen Bereich 8 #}
    <div id="job-accordion" class="c108-faq-question-section collapse">
        <div class="c108-faq-section-outer">
            <div class="c108-faq-section-title">
                {{ c108faqsection8title }}
            </div>
            {% for currentQuestion in c108faqsection8questionsArray %}
                {% if currentQuestion.question is not empty and currentQuestion.answer is not empty %}
                    <div class="card">
                        <div id="headieven-{{ loop.index }}">
                            <button class="btn btn-link collapsed questiontab" data-toggle="collapse" data-target="#collapseNine-{{ loop.index }}" aria-expanded="false" aria-controls="collapseNine-{{ loop.index }}">
                                <span>{{ currentQuestion.question }}</span>
                            </button>
                        </div>
                        <div id="collapseNine-{{ loop.index }}" class="collapse" aria-labelledby="headingNine-{{ loop.index }}" data-parent="#job-accordion">
                            <div class="card-body">
                                <p>{{ currentQuestion.answer|nl2br}}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {# Fragen Bereich 8: Ende #}
    {# Bereich 8: Ende #}
</div>

{# Boxes inkl. Suche: Ende #}

{# Fragen Bereich #}
<div class="d-none d-sm-block wrapper-cms" >

{# Fragen Bereich 1 #}
    <div id="account">
        {# Fragen Bereich 1 #}
        <div class="c108-faq-section-outer">
            <div class="c108-faq-section-title">
                {{ c108faqsection1title }}
            </div>
            {% for currentQuestion in c108faqsection1questionsArray %}
                {% if currentQuestion.question is not empty and currentQuestion.answer is not empty %}
                    <div class="card">
                        <div id="headingTwo-{{ loop.index }}">
                            <button class="btn btn-link collapsed questiontab" data-toggle="collapse" data-target="#collapseTwo-{{ loop.index }}" aria-expanded="false" aria-controls="collapseTwo-{{ loop.index }}">
                                <span>{{ currentQuestion.question }}</span>
                            </button>
                        </div>
                        <div id="collapseTwo-{{ loop.index }}" class="collapse" aria-labelledby="headingTwo-{{ loop.index }}" data-parent="#account">
                            <div class="card-body">
                                <p>{{ currentQuestion.answer|nl2br}}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {# Fragen Bereich 1: Ende #}
    </div>
{# Fragen Bereich 1: Ende #}

{# Fragen Bereich 2 #}
    <div id="order">
        <div class="c108-faq-section-outer">
            <div class="c108-faq-section-title">
                {{ c108faqsection2title }}
            </div>
            {% for currentQuestion in c108faqsection2questionsArray %}
                {% if currentQuestion.question is not empty and currentQuestion.answer is not empty %}
                    <div class="card">
                        <div id="headingThree-{{ loop.index }}">
                            <button class="btn btn-link collapsed questiontab" data-toggle="collapse" data-target="#collapseThree-{{ loop.index }}" aria-expanded="false" aria-controls="collapseThree-{{ loop.index }}">
                                <span>{{ currentQuestion.question }}</span>
                            </button>
                        </div>
                        <div id="collapseThree-{{ loop.index }}" class="collapse" aria-labelledby="headingThree-{{ loop.index }}" data-parent="#order">
                            <div class="card-body">
                                <p>{{ currentQuestion.answer|nl2br}}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{# Fragen Bereich 2: Ende #}

{# Fragen Bereich 3 #}
    <div id="return">
        <div class="c108-faq-section-outer">
            <div class="c108-faq-section-title">
                {{ c108faqsection3title }}
            </div>
            {% for currentQuestion in c108faqsection3questionsArray %}
                {% if currentQuestion.question is not empty and currentQuestion.answer is not empty %}
                    <div class="card">
                        <div id="headingFour-{{ loop.index }}">
                            <button class="btn btn-link collapsed questiontab" data-toggle="collapse" data-target="#collapseFour-{{ loop.index }}" aria-expanded="false" aria-controls="collapseFour-{{ loop.index }}">
                                <span>{{ currentQuestion.question }}</span>
                            </button>
                        </div>
                        <div id="collapseFour-{{ loop.index }}" class="collapse" aria-labelledby="headingFour-{{ loop.index }}" data-parent="#return">
                            <div class="card-body">
                                <p>{{ currentQuestion.answer|nl2br}}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{# Fragen Bereich 3: Ende #}

    {# Fragen Bereich 4 #}
    <div id="pay">
        <div class="c108-faq-section-outer">
            <div class="c108-faq-section-title">
                {{ c108faqsection4title }}
            </div>
            {% for currentQuestion in c108faqsection4questionsArray %}
                {% if currentQuestion.question is not empty and currentQuestion.answer is not empty %}
                    <div class="card">
                        <div id="headingFive-{{ loop.index }}">
                            <button class="btn btn-link collapsed questiontab" data-toggle="collapse" data-target="#collapseFive-{{ loop.index }}" aria-expanded="false" aria-controls="collapseFive-{{ loop.index }}">
                                <span>{{ currentQuestion.question }}</span>
                            </button>
                        </div>
                        <div id="collapseFive-{{ loop.index }}" class="collapse" aria-labelledby="headingFive-{{ loop.index }}" data-parent="#pay">
                            <div class="card-body">
                                <p>{{ currentQuestion.answer|nl2br}}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {# Fragen Bereich 4: Ende #}

    {# Fragen Bereich 5 #}
    <div id="availability">
        <div class="c108-faq-section-outer">
            <div class="c108-faq-section-title">
                {{ c108faqsection5title }}
            </div>
            {% for currentQuestion in c108faqsection5questionsArray %}
                {% if currentQuestion.question is not empty and currentQuestion.answer is not empty %}
                    <div class="card">
                        <div id="headingSix-{{ loop.index }}">
                            <button class="btn btn-link collapsed questiontab" data-toggle="collapse" data-target="#collapseSix-{{ loop.index }}" aria-expanded="false" aria-controls="collapseSix-{{ loop.index }}">
                                <span>{{ currentQuestion.question }}</span>
                            </button>
                        </div>
                        <div id="collapseSix-{{ loop.index }}" class="collapse" aria-labelledby="headingSix-{{ loop.index }}" data-parent="#availability">
                            <div class="card-body">
                                <p>{{ currentQuestion.answer|nl2br}}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {# Fragen Bereich 5: Ende #}

    {# Fragen Bereich 6 #}
    <div id="responsibility">
        <div class="c108-faq-section-outer">
            <div class="c108-faq-section-title">
                {{ c108faqsection6title }}
            </div>
            {% for currentQuestion in c108faqsection6questionsArray %}
                {% if currentQuestion.question is not empty and currentQuestion.answer is not empty %}
                    <div class="card">
                        <div id="headieven-{{ loop.index }}">
                            <button class="btn btn-link collapsed questiontab" data-toggle="collapse" data-target="#collapseSeven-{{ loop.index }}" aria-expanded="false" aria-controls="collapseSeven-{{ loop.index }}">
                                <span>{{ currentQuestion.question }}</span>
                            </button>
                        </div>
                        <div id="collapseSeven-{{ loop.index }}" class="collapse" aria-labelledby="headingSeven-{{ loop.index }}" data-parent="#responsibility">
                            <div class="card-body">
                                <p>{{ currentQuestion.answer|nl2br}}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {# Fragen Bereich 6: Ende #}

    {# Fragen Bereich 7 #}
    <div id="about">
        <div class="c108-faq-section-outer">
            <div class="c108-faq-section-title">
                {{ c108faqsection7title }}
            </div>
            {% for currentQuestion in c108faqsection7questionsArray %}
                {% if currentQuestion.question is not empty and currentQuestion.answer is not empty %}
                    <div class="card">
                        <div id="headieven-{{ loop.index }}">
                            <button class="btn btn-link collapsed questiontab" data-toggle="collapse" data-target="#collapseEight-{{ loop.index }}" aria-expanded="false" aria-controls="collapseEight-{{ loop.index }}">
                                <span>{{ currentQuestion.question }}</span>
                            </button>
                        </div>
                        <div id="collapseEight-{{ loop.index }}" class="collapse" aria-labelledby="headingEight-{{ loop.index }}" data-parent="#about">
                            <div class="card-body">
                                <p>{{ currentQuestion.answer|nl2br}}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {# Fragen Bereich 7: Ende #}

    {# Fragen Bereich 8 #}
    <div id="job">
        <div class="c108-faq-section-outer">
            <div class="c108-faq-section-title">
                {{ c108faqsection8title }}
            </div>
            {% for currentQuestion in c108faqsection8questionsArray %}
                {% if currentQuestion.question is not empty and currentQuestion.answer is not empty %}
                    <div class="card">
                        <div id="headieven-{{ loop.index }}">
                            <button class="btn btn-link collapsed questiontab" data-toggle="collapse" data-target="#collapseNine-{{ loop.index }}" aria-expanded="false" aria-controls="collapseNine-{{ loop.index }}">
                                <span>{{ currentQuestion.question }}</span>
                            </button>
                        </div>
                        <div id="collapseNine-{{ loop.index }}" class="collapse" aria-labelledby="headingNine-{{ loop.index }}" data-parent="#job">
                            <div class="card-body">
                                <p>{{ currentQuestion.answer|nl2br}}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {# Fragen Bereich 8: Ende #}


    {# Anzeige keine Suchtreffer #}
<div class="c108-faq-no-results">
<p>{{ 'faq.element.noresults'|trans }}</p>
</div>
{# Anzeige keine Suchtreffer: Ende #}

</div>
{# Fragen Bereich: Ende #}
    </div>
{% endblock %}

<script>
var faqElement = document.getElementById("{{ id }}-questionwrapper");
var questionTabs = faqElement.getElementsByClassName("questiontab");
var answerTabs = faqElement.getElementsByClassName("answertab");
var sectionTitles = faqElement.getElementsByClassName("c108-faq-section-title");
var noResultsText = faqElement.getElementsByClassName("c108-faq-no-results");

var j;

for (j = 0; j < questionTabs.length; j++) {
  questionTabs[j].addEventListener("click", function() {
    this.classList.toggle("active");
    var answertab = this.nextElementSibling;
    if (answertab.style.maxHeight) {
      answertab.style.maxHeight = null;
    } else {
      answertab.style.maxHeight = answertab.scrollHeight + "px";
    }
  });
}

var searchField = document.getElementById("{{ id }}-searchField");

searchField.addEventListener('input', function() {

  var faqElement = document.getElementById("{{ id }}-questionwrapper");
  var questionTabs = faqElement.getElementsByClassName("questiontab");
  // var answerTabs = faqElement.getElementsByClassName("answertab");
  var sectionTitles = faqElement.getElementsByClassName("c108-faq-section-title");
  var noResultsText = faqElement.getElementsByClassName("c108-faq-no-results");

  var noResults = true;

  // hide section title
  for (var k = 0; k < sectionTitles.length; k++) {
    sectionTitles[k].style['display'] = 'none';
  }

  // get search input
  var searchVal = this.value.toLowerCase();

  // check if search input matches content of answer or question
  for (var i = 0; i < questionTabs.length; i++) {
    if (questionTabs[i].textContent.toLowerCase().indexOf(searchVal) > -1 && searchVal) {
      questionTabs[i].style['display'] = 'block';
      questionTabs[i].style['background-color'] = '{{ c108faqhighlightcolor }}';
      questionTabs[i].querySelector('span').style['color'] = 'white';
      questionTabs[i].classList.add('hide');

      // hide no results text
      noResults = false;
      noResultsText[0].style['display'] = 'none';
    }

    else if(!searchVal){
      questionTabs[i].style['display'] = 'block';
      questionTabs[i].style['background-color'] = 'white';
      questionTabs[i].querySelector('span').style['color'] = '#4a545b';
      questionTabs[i].classList.remove('hide');

      // hide no results text
      noResults = true;
      noResultsText[0].style['display'] = 'none';

      // show section title
      for (var k = 0; k < sectionTitles.length; k++) {
        sectionTitles[k].style['display'] = 'block';
      }
    }

    else {
      questionTabs[i].style['display'] = 'none';
      questionTabs[i].style['background-color'] = 'white';
      questionTabs[i].querySelector('span').style['color'] = '#4a545b';
      questionTabs[i].classList.remove('hide');

      // show no results text
      noResults = true;
      noResultsText[0].style['display'] = 'block';
    }
  }

});

</script>
</div>
{% endblock %}
